:root {
	
	--color-light: #f1f5f9;
	--color-black: #121212;
	--color-night: #001632;
	--color-red: #f44336;
	--color-blue: #1a73e8;
	--color-gray: #80868b;
	--color-grayish: #dadce0;
	--shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
		0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);		
	--color-neutral-1: #f6f5f6;
	--color-neutral-5: #999798;
	--color-primary-1: #f0f5f6;
	--color-primary-2: #dce9eb;
	--color-primary-3: #c6dcdf;
	--color-primary-4: #82b1b8;
	--color-primary: #247783;
	--color-primary-6: #1d5f69;
	--color-white: #fdfdfe;
	--font-family-text: 'Inter', sans-serif;
	--font-family-title: 'Lora', serif;
}

html {
	font-size: 100%;
	font-size-adjust: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	list-style: none;
	list-style-type: none;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	color: var(--color-black);
	background: var(--color-neutral-1);
	font: inherit;
 	font-family: var(--font-family-text);
}

a,
button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

// Components
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80rem;
	min-height: 100vh;
	width: 100%;
	padding: 0 2rem;
	margin: 0 auto;
}


.text {
	font-family: inherit;
	line-height: inherit;
	text-transform: unset;
	text-rendering: optimizeLegibility;

	&-large {
		font-size: 2rem;
		font-weight: 600;
		color: var(--color-black);
	}

	&-normal {
		font-size: 1rem;
		font-weight: 400;
		color: var(--color-black);
	}

	&-links {
		font-size: 1rem;
		font-weight: 400;
		color: var(--color-blue);

		&:hover {
			text-decoration: underline;
		}
	}
}

// Main
.main {

	&.grid{
    	min-height: 100vh;
    	display: grid;
    	grid-template-rows: auto 1fr auto;
	}
	.header {
		background-color: var(--color-white);
		width: 100%;
		height: 60px;
		.header-wrapper {
			display: grid;
			grid-template-columns: 1fr 10fr 1fr;
			width: 100%;
			height: 100%;
			grid-gap: 0px 0px;
			grid-gap: 3px;
			justify-items: center;
			align-items: center;
		}
		.currentUser{
			font-weight: bold;
			color:var(--color-black);
		}
	}

	.legal {
		background-color: var(--color-white);
		bottom: 0;
		width: 100%;
		border-top: 1px solid #eee;
		padding: 15px;
		overflow: hidden;
		text-align: center;
  	}

	.userList {
			width: 60%;
			margin: 0 auto;
		/* tables */

		table {
			border-collapse: collapse;
			margin: 1px 0 0;
			width: 100%;
		}

		tr {
			border-bottom: 1px solid var(--color-primary-3);
			border-top: 1px solid var(--color-primary-3);
			margin: -1px 0 0;
			width: 100%;
		}

		tr:hover:not(.selected):not(.no-hover),
		tr.hover {
			background: var(--color-primary-1);
			cursor: pointer;
		}

		tr.selected {
			background: var(--color-primary-2);
		}

		td,
		th {
			font: inherit;
			line-height: inherit;
			text-align: left;
			min-width: 3rem;
		}

		td:first-of-type,
		th:first-of-type {
			padding-left: 1.5rem;
		}

		td:last-of-type,
		th:last-of-type {
			padding-right: 1.5rem;
		}

		th {
			color: var(--color-primary-4);
			font-size: .75rem;
			font-weight: 500;
			letter-spacing: 1px;
			padding: 1.5rem 1rem;
		}

		td {
			font-size: .875rem;
			padding: 1.25rem 1rem;
		}
	}
	.wrapper {
		max-width: 28rem;
		width: 100%;
		margin: 2rem auto;
		padding: 2rem 2.5rem;
		border: none;
		outline: none;
		border-radius: 0.25rem;
		color: var(--color-black);
		background: var(--color-white);
		box-shadow: var(--shadow-large);

		.form {
			width: 100%;
			height: auto;
			margin-top: 2rem;

			.input-control {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 1.25rem;
			}

			.input-field {
				font-family: inherit;
				font-size: 1rem;
				font-weight: 400;
				line-height: inherit;
				width: 100%;
				height: auto;
				padding: 0.75rem 1.25rem;
				border: none;
				outline: none;
				border-radius: 2rem;
				color: var(--color-black);
				background: var(--color-light);
				text-transform: unset;
				text-rendering: optimizeLegibility;
			}

			.input-submit {
				font-family: inherit;
				font-size: 1rem;
				font-weight: 500;
				line-height: inherit;
				cursor: pointer;
				min-width: 100%;
				height: auto;
				padding: 0.65rem 1.25rem;
				border: none;
				outline: none;
				border-radius: 2rem;
				color: var(--color-white);
				background: var(--color-blue);
				box-shadow: var(--shadow-medium);
				text-transform: capitalize;
				text-rendering: optimizeLegibility;
			}
		}


	}
}
